<div class = "votes-score"> Rating <%= question.vote_score %> </div>
<div class="answers-count"> Answers <%= question.answers.count %></div>
<div class="total-views"> Views <%= question.view_count %> </div>
