<div class="container">

  <%= erb :"questions/_question_info", layout: false, locals: {question: @question} %>

</div>
<div class = "owner-options-container">


    <a class="link-as-button" href = "/login"> Login to post an answer </a>
</div>


