<div class="question_container">
  <h1 class="question_title"><%= @question.title %></h1>

  <div class="voting_container">
    <a href="" class="vote_botton">&#65514</a>
    </br>
    <h1 id="vote_count">55</h1>
    </br>
    <a href="" class="vote_botton">&#65516</a>
  </div>

  <div class="question_body_container">
    <p><%= @question.body %></p>
  </div>
</div>

<div class="answer_container">
  <div class="voting_container">
    <a href="" class="vote_botton">&#65514</a>
    </br>
    <h1 id="vote_count">6</h1>
    </br>
    <a href="" class="vote_botton">&#65516</a>
  </div>

  <div class="answer_body_container">
    <% @answers = Answer.where(question_id: @question.id) %>
    <% @answers.each do |answer| %>
      <p><%= answer.body %></p>
    <% end %>
  </div>
</div>

<div class="post_your_answer_container">

  <form action="/questions/<%=@question.id%>/answers" method="POST">

    <div class="header">
      Know someone who can answer? Share a link to this question via email, <a href="https://plus.google.com/">Google+</a>, <a href="http://www.twitter.com">Twitter</a>, or <a href="www.facebook.com">Facebook</a>.
    </div>
    <div class="your_answer">
      Your Answer
    </div>

    <div class="answer_text_box">
      <textarea name ="answer[body]" rows="15" cols="50"></textarea>
    </div>
    <div class="submit_button">
      <input type="submit" value="Post Your Answer"/>
    </div>


  </form>
</div>
