.question_container {
  margin: auto;
  width: 1000px;
  height: 220px;
  margin-bottom: 20px;
}

.question_container h4 {
  float: left;
  margin-top: 30px;
  clear: left;
}

.question_title {
  font-size: 24px;
  font-weight: normal;
  padding-bottom: 30px;
  border-bottom: 1px solid #e0e0e0;
}

.voting_container {
  width: 46px;
  height: 132px;
  font-size: 20px;
  float: left;
}

.question_body_container {
  float: left;
  width: 660px;
  margin-left: 30px;
  margin-top: 5px;
}

.answer_container {
  margin: auto;
  width: 1000px;
  height: 160px;
  border-top: 1px solid #e0e0e0;
}

.answer_body_container {
  float: left;
  width: 660px;
  margin-left: 30px;
  margin-top: 30px;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  border-bottom: 18px solid #818185;
  margin-top: 20px;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  border-top: 18px solid #818185;
}

#vote_count {
  margin: 5px;
  font-size: 25px;
  color: #818185;
}

#answer_count {
  color: #444444;
  font-weight: normal;
  font-size: 18px;
}

#answer_count_container {
  width: 1000px;
  margin: auto;
}

.post_your_answer_container {

  margin: auto;
  width: 1000px;  font-size: 18px;
}

.post_your_answer_container .header{
  border-top: 1px dotted #ccc;
  width: 718px;
  padding: 8px 0 8px 0;
}

.post_your_answer_container .your_answer{

  margin-top: 15px;
  margin-bottom: 15px;
}

.post_your_answer_container .answer_text_box{

   margin-top: 15px;
   padding-bottom: 20px;
   border-bottom: 1px dotted #ccc;

   margin-bottom: 50px;

}

.post_your_answer_container form {

  margin-left: 0px;
}

.post_your_answer_container input[type="submit"] {

  width: 133px;
  height: 31px;
  font-size: 11px;
  font-family: Lucida Grande;
  background: #009afd;
  padding: .6em .8em;
  color: white;
  border-radius: 3px;
  box-shadow: 0 1px 0;

}

input[type="submit"]:hover{

  background-color: #0066CC;
}

