<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/users.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  <title></title>
</head>
  <body><div class ="login-topbar"> <a href="/">Back to Stack Overflow</a></login-topbar>

    <div id="formContainer" style="width:460px">

      <form method="post" url="/logout">
      <input type="submit" value="Logout">
    </form>

      <form method="" url="/logout">
      <input id= type="submit" value="Logout">
    </form>


  </div>
</body>

