<div class="profile_container">
  <div id="avatar_container">
    <img id="profile_avatar" src="<%= Faker::Avatar.image %>" />
  </div>
  <div id="profile_name">
    <%= @user.display_name %>
  </div>
</div>
