<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">
  <link rel="stylesheet" href="/css/question_show.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <!-- black top navigation bar -->
  <nav>
    <!-- buttons: 'sign up, log in' -->
    <!-- each ar a elements (links) that share a class (nav-button) -->
    <div class="nav_bar">
      <div class="nav_buttons">
        <% if session[:user_id] == nil %>
            <a href="/register">sign up</a>
            <a href="/login">log in</a>
          <% else %>
            <a href="/users>">profile</a>
            <a href="/logout">logout</a>
          <% end %>
        <form action="post">
          <input type="text" name="search" placeholder="search" style="width: 188px;" />
        </form>
      </div>
    </div>
  </nav>

  <div class="body_header">
    <a href="/"><img id="logo" src="https://appharbor.com/assets/images/stackoverflow-logo.png" /></a>
      <ul id="main_menu">
        <a href=""><li>Questions</li></a>
        <a href=""><li>Tags</li></a>
        <a href="/users"><li>Users</li></a>
        <a href=""><li>Unanswered</li></a>
        <a href="/questions/new"><li>Ask Question</li></a>
      </ul>
  </div>
  <%= yield %>
</body>
</html>
